@model List<Book>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Manage/Views/Shared/_Layout.cshtml";
    int order = (ViewBag.SelectedPage - 1) * 4 + 1+1;
}

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" asp-controller="book" asp-action="create">Add New</a>   @* add olunub 3 setr *@
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Genre Id</th>
                <th scope="col">Name</th>
                <th scope="col">Code</th>
                <th scope="col">Author Name</th>
                <th scope="col">Genre Name</th>
                <th scope="col">Rate</th>
                <th scope="col">
                <th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@order</th>
                    <td>@item.GenreId</td>
                    <td>@item.Name</td>
                    <td>@item.Code</td>
                    <td>@item.Author.Name</td>
                    <td>@item.Genre.Name</td>
                    <td>@item.Rate</td>
                    <td>
                        <a asp-action="commentbook" asp-route-bookId="@item.Id" class="btn btn-info"><i class="fas fa-comment"></i><i class="badge badge-light">@item.Comments.Count()</i> </a>
                        <a asp-controller="book" asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                        <a asp-controller="book" asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger item-delete">Delete</a>
                    </td>
                </tr>
                order++;
            }
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination">
            @* disabled-de olur *@
            <li style="@(ViewBag.SelectedPage==1?"background-color:red;pointer-events:none;":"")" class="page-item">
                <a class="page-link" asp-controller="book" asp-action="index" asp-route-page="@(ViewBag.SelectedPage-1)" tabindex="-1">Previous</a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPage; i++)
            {
                <li class="page-item @(ViewBag.SelectedPage==i?"active":"")"><a class="page-link" asp-controller="book" asp-action="index" 
                    asp-route-page="@i">@i</a></li>
            }
            <li style="@(ViewBag.SelectedPage==ViewBag.TotalPage?"background-color:red;pointer-events:none;":"")" class="page-item">
                <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage+1)">Next</a>
            </li>
        </ul>
    </nav>

</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $(document).on("click", ".item-delete", function (e) {
                e.preventDefault();
                const swalWithBootstrapButtons = Swal.mixin({
                    customClass: {
                        confirmButton: "btn btn-success",
                        cancelButton: "btn btn-danger"
                    },
                    buttonsStyling: false
                });
                swalWithBootstrapButtons.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel!",
                    reverseButtons: true
                }).then((result) => {
                    if (result.isConfirmed) {
                        var url = $(this).attr("href");
                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                if (data.status == 200) {
                                    //sehifeni refresh et
                                    location.reload(true);
                                }
                                else {
                                    Swal.fire({
                                        title: "Not Found!",
                                        text: "test",
                                        // text: "Your file has been deleted.",
                                        icon: "error"
                                    });
                                }
                            });
                        // Swal.fire({
                        //     title: "Deleted!",
                        //     text: url,
                        //     // text: "Your file has been deleted.",
                        //     icon: "success"
                        // });

                    }
                });
            })
        })


    </script>
}


