@model List<Publisher>
@{
    ViewData["Title"] = "Index";
    int order = (ViewBag.SelectedPage - 1) * 2 + 1;
}

<div class="container-fluid">
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary" asp-action="create">Add New</a>   @* add olunub 3 setr *@
    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Book Count</th>
                <th scope="col">

                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@order</th>
                    <td>@item.Name</td>
                    <td>@item.Books.Count</td>
                    <td>
                        <a asp-action="edit" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                        <a asp-action="delete" asp-route-id="@item.Id" class="btn btn-danger item-delete">Delete</a>
                    </td>
                </tr>
                order++;
            }
        </tbody>
    </table>

    <nav aria-label="...">
        <ul class="pagination">
            <li class="page-item @(ViewBag.SelectedPage==1?"disabled":"")">
                <a asp-action="index" asp-route-page="@(ViewBag.SelectedPage-1)" class="page-link">Previous</a>
            </li>
            @for (int i = 1; i <= ViewBag.TotalPage; i++)
            {
                <li class="page-item @(ViewBag.SelectedPage==i?"active":"")" aria-current="page">
                    <a asp-action="index" asp-route-page="@i" class="page-link">@i</a>
                </li>
            }
            <li class="page-item @(ViewBag.SelectedPage==ViewBag.TotalPage?"disabled":"")">
                <a class="page-link" asp-action="index" asp-route-page="@(ViewBag.SelectedPage+1)">Next</a>
            </li>
        </ul>
    </nav>

</div>

@section Scripts
{
    <script>

        $(document).ready(function () {
            $(document).on("click", ".item-delete", function (e) {
                e.preventDefault();

                Swal.fire({
                    title: "Are you sure?",
                    text: "You won't be able to revert this!",
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        var url = $(this).attr("href");


                        fetch(url)
                            .then(response => response.json())
                            .then(data => {
                                if (data.status == 200) {
                                    //sehifeni refresh et
                                    location.reload(true);
                                }
                                else {
                                    Swal.fire({
                                        title: "Not Found!",
                                        text: "test",
                                        // text: "Your file has been deleted.",
                                        icon: "error"
                                    });
                                }
                            });
                        // Swal.fire({
                        //     title: "Deleted!",
                        //     text: url,
                        //     // text: "Your file has been deleted.",
                        //     icon: "success"
                        // });

                    }
                });
            })
        })



    </script>

}

